body {
    background-color: #000000 !important;
    font-family: 'Roboto', sans-serif !important;
    color: #888888 !important;
    margin: 0 !important;

}

h1 {

}

h1, h2, h3 {
    color: white !important;
    font-weight: 900 !important;
}

html, body {
    height: 100%;
}

body {
    margin: 0 !important;
}

hr {
    border-top: 1px solid rebeccapurple !important;
}

.main {
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 992px) {
    .main {
        flex-direction: row;
        padding: 50px 130px;
    }

}

.active {
    color: rebeccapurple !important;
}


/*!* Extra small devices (phones, 600px and down) *!*/
/*@media only screen and (max-width: 600px) {...}*/

/*!* Small devices (portrait tablets and large phones, 600px and up) *!*/
/*@media only screen and (min-width: 600px) {...}*/

/*!* Medium devices (landscape tablets, 768px and up) *!*/
/*@media only screen and (min-width: 768px) {...}*/

/*!* Large devices (laptops/desktops, 992px and up) *!*/
/*@media only screen and (min-width: 992px) {...}*/

/*!* Extra large devices (large laptops and desktops, 1200px and up) *!*/
/*@media only screen and (min-width: 1200px) {...}*/
